<div class="info-div grid-2">
  <div class="project">
    <img src="<%= asset_path('projectsjs/library.png') %>" class="img-class" alt="Apple">
    <p class="p-project">
      This project allows you to create a library with your favorite books.
    </p>
    <a class="block-cover"></a>
    <div class="go-icon">
      <a href="https://github.com/Juakata/Library" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://raw.githack.com/Juakata/Library/development/index.html" target="_blank"><i class="fas fa-globe"></i></a>
    </div>
  </div>

  <div class="project">
    <img src="<%= asset_path('projectsjs/tictactoe.png') %>" class="img-class" alt="tictactoe">
    <p class="p-project">
      This project is the famous game Tic-Tac-Toe.
    </p>
    <a class="block-cover"></a>
    <div class="go-icon">
      <a href="https://github.com/Juakata/tic-tac-toe-js" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://raw.githack.com/Juakata/tic-tac-toe-js/development/index.html" target="_blank"><i class="fas fa-globe"></i></a>
    </div>
  </div>

  <div class="project">
    <img src="<%= asset_path('projectsjs/restaurant.png') %>" class="img-class" alt="restaurant">
    <p class="p-project">
      This project is a copy of the home page of a restaurant,
      the render of the diffrent info of the restaurant is handle with javascript.
    </p>
    <a class="block-cover"></a>
    <div class="go-icon">
      <a href="https://github.com/Juakata/Restaurant" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://raw.githack.com/Juakata/Restaurant/development/dist/index.html" target="_blank"><i class="fas fa-globe"></i></a>
    </div>
  </div>

  <div class="project">
    <img src="<%= asset_path('projectsjs/mine.png') %>" class="img-class" alt="Minesweeper">
    <p class="p-project">
      This project is the game Minesweeper but with my own implemantation.
    </p>
    <a class="block-cover"></a>
    <div class="go-icon">
      <a href="https://github.com/Juakata/Minesweeper" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://raw.githack.com/Juakata/Minesweeper/master/index.html" target="_blank"><i class="fas fa-globe"></i></a>
    </div>
  </div>

  <div class="project">
    <img src="<%= asset_path('projectsjs/todo.png') %>" class="img-class" alt="Minesweeper">
    <p class="p-project">
      This project is a To-Do-List App, where you can projects and tasks.
    </p>
    <a class="block-cover"></a>
    <div class="go-icon">
      <a href="https://github.com/Juakata/ToDoList-JS" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://raw.githack.com/Juakata/ToDoList-JS/development/dist/index.html" target="_blank"><i class="fas fa-globe"></i></a>
    </div>
  </div>
</div>
