<%= render 'header' %>
<main>
  <h2 class="title1">── My Story ──</h2>
  <div class="info-div grid-2">
    <p>
      Hi, I'm Andoni from El Salvador. I design and build user interfaces and love to code with people around
      the world. Thanks to <a href="https://www.microverse.org/">Microverse</a> I was able to work with people from Brazil, India, Mexico, Kenia, Colombia and United States. I have
      learned plenty of cool things from them while working in the projects and of course always
      doing our best in every single one.
    </p>
    <ul class="abilities">
      <li id="main-areas">Proficient in</li>
      <li><a href="#html-title">● HTML & CSS </a></li>
      <li><a href="#ruby">● Ruby </a></li>
      <li><a href="#rails">● Ruby on Rails </a></li>
      <li><a href="#js">● JS </a></li>
      <li><a href="#">● React & Redux </a></li>
    </ul>
  </div>

  <h2 class="title1" id="html-title">── HTML & CSS ──</h2>
  <section>
    <%= render 'htmlcss' %>
  </section>

  <h2 class="title1" id="ruby">── Ruby ──</h2>
  <section>
    <%= render 'ruby' %>
  </section>

  <h2 class="title1" id="rails">── Ruby on Rails ──</h2>
  <section>
    <%= render 'rails' %>
  </section>

  <h2 class="title1" id="js">── Javascript ──</h2>
  <section>
    <%= render 'javascript' %>
  </section>

  <h2 class="title1">── Get in touch! ──</h2>
  <%= render 'form' %>
</main>

<footer>
  Made by Andoni Uzquiano
</footer>
