<%= render 'header' %>
<main>
  <h2 class="title1">── My Story ──</h2>
  <div class="info-div grid-2">
    <% if @user.profile %>
      <%= simple_format(@user.profile.intro, wrapper_tag: "p") %>
    <% else %>
      <p>No story created.</p>
    <% end %>
    <ul class="abilities">
      <li id="main-areas">Proficient in</li>
      <% @user.areas.each do |area| %>
        <li><a href="#area-<%= area.id %>">● <%= area.name %> </a></li>
      <% end %>
    </ul>
  </div>
  <% @user.areas.each do |area| %>

  <% end %>
  <h2 class="title1" id="html-title">── HTML & CSS ──</h2>
  <section>
    <%= render 'htmlcss' %>
  </section>

  <h2 class="title1" id="ruby">── Ruby ──</h2>
  <section>
    <%= render 'ruby' %>
  </section>

  <h2 class="title1" id="rails">── Ruby on Rails ──</h2>
  <section>
    <%= render 'rails' %>
  </section>

  <h2 class="title1" id="js">── Javascript ──</h2>
  <section>
    <%= render 'javascript' %>
  </section>

  <h2 class="title1">── Get in touch! ──</h2>
  <%= render 'form' %>
</main>

<footer>
  Made by Andoni Uzquiano
</footer>
