<%= render 'header' %>
<main>
  <div class="welcome">
    <img src="<%= @user.profile.photo.url %>" alt="photo" class="photo">
    <p id="welcome-p"></p>
    <button type="button" onclick="welcome()">Know more about me!</button>
    <div class="circle"></div>
    <div class="circle2"></div>
  </div>

  <h2 class="title1">── My Story ──</h2>
  <div class="info-div grid-2">
    <% if @user.profile %>
      <%= simple_format(@user.profile.intro, wrapper_tag: "p") %>
    <% else %>
      <p>No story created.</p>
    <% end %>
    <ul class="abilities">
      <li id="main-areas">Proficient in</li>
      <% @user.areas.each do |area| %>
        <li><a href="#area-<%= area.id %>">● <%= area.name %></a></li>
      <% end %>
    </ul>
  </div>
  <% @user.areas.each do |area| %>
    <h2 class="title1" id="area-<%= area.id %>">── <%= area.name %>──</h2>

    <div class="info-div grid-2">
      <% area.projects.each do |project| %>
        <div class="project">
          <img src="<%= project.image.url %>" class="img-class" alt="project">
          <p class="p-project"><%= project.description %></p>
          <a class="block-cover"></a>
          <div class="go-icon">
            <a href="<%= project.github %>" target="_blank"><i class="fab fa-github"></i></a>
            <% if project.live != "" %>
              <a href="<%= project.live %>" target="_blank"><i class="fas fa-globe"></i></a>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <h2 class="title1">── Get in touch! ──</h2>
  <%= render 'form' %>

  <!-- Load Facebook SDK for JavaScript -->
   <div id="fb-root"></div>
   <script>
     window.fbAsyncInit = function() {
       FB.init({
         xfbml            : true,
         version          : 'v7.0'
       });
     };

     (function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) return;
     js = d.createElement(s); js.id = id;
     js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));</script>

   <!-- Your Chat Plugin code -->
   <div class="fb-customerchat"
     attribution=setup_tool
     page_id="165042650183017">
   </div>
  </div>
  <!-- built files will be auto injected -->

  <!-- GetButton.io widget -->
<script type="text/javascript">
    (function () {
        var options = {
            whatsapp: "50371927328",
            call_to_action: "Message us",
            position: "right",
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /GetButton.io widget -->

</main>

<footer>
  Made by Andoni Uzquiano.
</footer>

<script type="text/javascript">
  var txt = "Hi, I am a junior developer.";
  var i = 0;
  function typeWriter() {
    if (i < txt.length) {
      document.getElementById("welcome-p").innerHTML += txt.charAt(i);
      i++;
      setTimeout(typeWriter, 75);
    }
  }

  window.onload = function() {
    document.querySelector('.welcome').style.display = 'block';
    document.body.style.overflow = 'hidden';
    setTimeout(() => {
      window.scrollTo(0, 0);
      document.body.scrollTo = 0;
    }, 500);
    setTimeout(typeWriter, 1000);
  };

  function welcome() {
    document.querySelector('.welcome').style.display = 'none';
    document.body.style.overflow = 'auto';
  }

  var projects = document.querySelectorAll('.project');
  projects.forEach(project => {
    const observer = new IntersectionObserver(entries => {
      if (entries[0].isIntersecting === true) {
        entries[0].target.style.opacity = '1';
      }
    }, { threshold: [.3] });

    observer.observe(project);
  });
</script>
